html,
body {
    height: 100%;
}


html,
html * {
    position: relative;
}

[name="window-background"]>*,
body>*,
[name="window-background"],
body {
    /* box-sizing: border-box; */
    scrollbar-width: thin;
    scrollbar-color: rgba(42, 42, 58, 0.638) rgba(234, 235, 255, 0);
    /* font-family: inherit;
    font-size: inherit;
    font-weight: auto; */
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgba(42, 42, 58, 0);
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    background: rgba(42, 42, 58, 0.638);
    border-radius: 0px;
    background-clip: padding-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

*::-webkit-scrollbar-corner {
    background: hsla(0, 0%, 0%, 0);
}


[name="window-background"],
body {
    padding: 0;
    margin: 0;

    color: #04061e;
    font-family: Roboto, Arial, sans-serif;

    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: break-word;
    background-color: #ffffff;
}


x-ct {
    display: block;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

[x-x-center] {
    /* margin-left: 50%;
    transform: translateX(-50%); */
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

p,
br,
x-ct {
    min-width: 24px;
    min-height: 24px;
}

x-img {
    display: flex;
}

img-wrapper>* {
    pointer-events: none;
}

img-wrapper {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 12px 0;
    /*display: inline-flex;
    display: block;
    display: flex;
    */
    /* background-color: #e1e1e1; */


    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    justify-content: center;
    align-items: center;
}

img-wrapper {
    min-width: 200px;
    min-height: 200px;
    /* border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px; */
}

img-wrapper[loaded="false"]>img {
    display: none;
}

img-wrapper[loaded="true"] {
    min-width: auto;
    min-height: auto;
}

img-wrapper>img {
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
}

img-wrapper[loaded="true"]>img-cover {
    display: none;
}

img-wrapper>img-cover {
    width: 100%;
    height: 100%;
    background: rgba(161, 161, 161, 0.6);
    position: absolute;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

img-wrapper>img-cover::before {
    content: "loading image...";
    color: #ffffff;
}


p {
    opacity: 0.9;
    max-width: 600px;
    padding: 6px 14px;
    margin: 12px 0;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    /*max-width: 400px;
    */
}

a {
    color: #4245ff;
    text-decoration: underline;
    display: inline-block;
    font-size: 14px;
    margin: 6px 3px;
    padding: 6px 14px;
}

a.plain {
    text-decoration: none;
}

a.classic {
    text-decoration: none;
    background-color: #4245ff;
    color: #ffffff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

a.transparent {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid;
    margin: 6px 3px;
    padding: 6px 14px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}



header {
    /* position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky; */
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    /* color: #0c0d3c; */
    top: 0;
    left: 0;
    /* width: 100%; */
    width: inherit;
    z-index: 1;
    height: 43px;
    padding: 0 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(54, 54, 74, 0.729);
    font-weight: 700;
    font-size: 20px;
    box-sizing: border-box;
}

header-margin {
    height: 35px;
    display: block;
    z-index: -1;
}

header .header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    background-color: transparent;
}

header>img-wrapper,
header .header>img-wrapper {
    /* display:; */
}

header .header img-wrapper {
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    max-height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

header .header div.header-hmb[class] {
    display: flex;
    margin-right: 9px;
    min-height: 24px;
    min-width: 24px;
    /* background-color: rgb(10, 7, 49); */
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 4px;
    color: rgb(10, 7, 49);
}

header .header .header-hmb svg,
header .header .header-hmb svg {
    min-height: inherit;
    min-width: inherit;
}

header .header .header-hmb svg,
header .header .header-hmb svg * {
    pointer-events: none;
    stroke-width: 1.4px;
}

header .header>div {
    min-width: 33.5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* max-height: 100%; */
    height: 100%;
    /* max-width: 33.5%; */
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: auto;
    text-align: center;
    background-color: inherit;
}


header .header>div x-ct {
    text-overflow: ellipsis;
    width: fit-content;
    overflow: hidden;
    max-width: 65%;
}

header .header>div>*:nth-child(2) {
    margin-left: 5px;
}

header .header .header-left {
    justify-content: flex-start;
    text-align: left;
    left: 0;
    /* padding-left: 9px; */
}

header .header .header-center {
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    /* padding-left: 9px; */
}

header .header .header-right {
    justify-content: flex-end;
    text-align: right;
    right: 0;
    /* padding-left: 9px; */
}

/* header .header .header-right::before,header .header .header-center::before{
content: "";
background-color: red;
} */

x-layout {
    display: flex;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    width: inherit;
    flex-direction: row-reverse;
    height: inherit;
}

x-layout>* {
    width: 100%;
}

x-layout x-menu {
    display: none;
    width: 0;
    min-width: 0;
    /* height: inherit; */
    /* height: 100%;
    height: -webkit-fill-available;
    height: -moz-available; */
    height: auto;
    background: #04061e;
    /* background:#0c0d16; */
    color: #ffffff;
    box-shadow: -1px 0 2px rgba(54, 54, 74, 0.439);
    /* position: fixed; */
    z-index: 2;
    overflow: auto;
    overflow: overlay;
}

x-layout[with-header="on"] x-menu {
    min-width: 270px;
    /* padding: 6px 12px; */
    padding: 6px 0;
    /* color: #2c2c4a; */
}

x-layout x-menu a {
    margin: 0;
    margin-bottom: 6px;
    text-decoration: none;
    border-bottom: 1px solid rgba(102, 102, 181, 0.405);
    color: inherit;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    display: flex;
    align-items: center;
}

x-layout x-menu a[class] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

x-layout x-menu a>*:first-child {
    margin: 0 8px;
}

x-layout x-menu a img-wrapper {
    width: 24px;
    margin: 0;
    padding: 0;
}

x-layout x-menu a:hover {
    background-image: linear-gradient(0deg, transparent 0%, rgba(190, 190, 225, 0.241) 0%);
}


x-layout x-menu h1,
x-layout x-menu h2,
x-layout x-menu h3,
x-layout x-menu h4,
x-layout x-menu h5 {
    opacity: 0.7;
    padding: 0 6px;
}

x-layout x-menu p {
    font-size: 12px;
}

x-layout[with-header] x-menu {
    /*display: inline-flex;
    */
    display: block;
    flex-direction: column;
    white-space: nowrap;
    transition-property: padding min-width;
    transition-duration: 200ms;
}

x-layout>x-body {
    display: flex;
    overflow: hidden;
}

x-layout[with-header]>x-body {
    /* padding: 8px; */
    padding-top: 43px;
    /* padding-bottom: 8px; */
    height: auto;
    display: flex;
}

x-layout[with-header="on"]>x-body {
    min-width: 325px;
}

x-layout>x-body>article {
    /* height: 100%;
    height: -webkit-fill-available; */
    width: 100%;
    width: auto;
    width: -moz-available;
    width: -webkit-fill-available;
    height: auto;
    /* height: 100%; */
    /* height: -moz-available; */
    /* height: -webkit-fill-available; */
    overflow: auto;
    overflow: overlay;
}

x-layout>x-body>article[name="window-background"] {
    /* margin-top: 43px; */
    padding: 8px;
}

/* x-layout>x-body>article[name="window-background"]::before {
   content: "PERU";
width: 100%;
height: 100%;
display: block;
position: absolute;
background: #ff4242bf;
z-index: 2;
} */

@media only screen and (min-width: 700px) {
    header .header {
        width: 700px;
    }
}